<div class="hold-transition login-page preloader-content">
	<div class="login-box">

		<!-- /.login-logo -->
		<div class="login-box-body change-password">
			<div class="login-logo">
				<img src="img/brand.png" alt="SmartCard">
			</div>
			<h4 class="login-box-msg">Change Password</h4>

			<div class="box-body">
				<form name="changePasswordForm" ng-submit="cpcCtrl.changePassword()">
					<div class="alert alert-danger" ng-show="cpcCtrl.error">{{ cpcCtrl.error_message }}</div>
					<div class="col-md-4">
						<div class="form-group has-required-validation slim">
							<label for="oldPassword" class="control-label required-field">Old Password</label>
							<input type="password" name="oldPassword" class="form-control" id="oldPassword" maxlength="25" ng-model="cpcCtrl.changePasswordValues.oldPassword" required />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group has-required-validation">
							<label for="newPassword" class="control-label required-field">New Password</label>
							<input type="password" id="newPassword" name="newPassword" ng-model="cpcCtrl.changePasswordValues.newPassword" required="" class="form-control ng-dirty ng-valid-parse ng-touched ng-not-empty ng-valid-required ng-valid ng-valid-pattern" ng-change="cpcCtrl.validatePasswordPolicy(cpcCtrl.changePasswordValues.newPassword)" value="">

							<div class="required-validation"> 
			                    <i class="mdi mdi-check-circle validation-icon validation-success" ng-show="(!cpcCtrl.pwdValidation.boolean)&&(changePasswordForm.newPassword.$dirty)"></i> 
			                    <i class="mdi mdi-alert-circle validation-icon validation-alert ng-hide" uib-tooltip="{{cpcCtrl.pwdValidation.message}}" ng-show="(cpcCtrl.pwdValidation.boolean)"></i> 
			                  </div>

							
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="confirmPassword" class="control-label required-field">Confirm Password</label>
							<input type="password" id="confirmPassword" name="confirmPassword" class="form-control" ng-model="cpcCtrl.confirmPassword" required />
							<div class="required-validation"> 
			                    <i class="mdi mdi-check-circle validation-icon validation-success" ng-show="cpcCtrl.confirmPassword == cpcCtrl.changePasswordValues.newPassword && changePasswordForm.confirmPassword.$dirty && (cpcCtrl.confirmPassword.length > 0 || cpcCtrl.changePasswordValues.newPassword.length > 0)"></i> 
			                    <i class="mdi mdi-alert-circle validation-icon validation-alert ng-hide" ng-show="cpcCtrl.confirmPassword != cpcCtrl.changePasswordValues.newPassword && changePasswordForm.confirmPassword.$dirty && (cpcCtrl.confirmPassword.length > 0 || cpcCtrl.changePasswordValues.newPassword.length > 0)"></i> 
			                  </div>
						</div>
					</div>
					<div class="col-md-12">
						<button type="submit" class="btn btn-success" ng-disabled="changePasswordForm.$invalid || (cpcCtrl.changePasswordValues.newPassword != cpcCtrl.confirmPassword)">Change Password</button>
					</div>
				</form>
			</div>

			<div class="col-md-12">
				<div class="box account-profile-card-block">
					<div class="box-header text-center">
						<h3 class="box-title">Smart Card Password Policies</h3>
					</div>
					<!-- .box-body for spin-->
					<div class="box-body" ng-show="!cpcCtrl.loaded">
						<div class="loader-block">
							<div class="loader"></div>
							<p class="loader-text">Please wait...</p>
						</div>
					</div>
					<div class="box-body" ng-show="cpcCtrl.loaded">
						<div class="row">
							<div class="col-md-12">
								<p class="card-main-paragraph">Please follow these password policies to ensure your password to be strong.</p>
								<ul class="password-policy-block" ng-repeat="policies in cpcCtrl.passwordPoliciesTexts">
									<li>{{policies}}</li>
								</ul>     
							</div>
						</div>  
					</div>
				</div>
			</div>

		</div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box --> 
</div>

