<section class="content-header">
  <h1>
    <i class="mdi mdi-account-box"></i>
    Settlement Banks Details
  </h1>

  <!-- <my-breadcrumb></my-breadcrumb> -->
</section>


<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-12">
        
        <!-- /.box-header -->
        <div class="alert alert-danger" ng-show="settlementBankCtrl.error">{{ settlementBankCtrl.error_message }}</div>
        <div class="alert alert-success" ng-show="settlementBankCtrl.success">{{ settlementBankCtrl.success_message }}</div>

        <div class="box-body" ng-show="!settlementBankCtrl.paginationLoaded" ng-hide="settlementBankCtrl.paginationLoaded">
            <div class="loader-block">
              <div class="loader"></div>
              <p class="loader-text">Please wait...</p>
            </div>
        </div>

          <div class="table-minimal-2" ng-show="settlementBankCtrl.paginationLoaded">      
            <table ng-table="settlementBankCtrl.tableParams" class="table filter-table">
                <thead>
                  <tr>
                    <!-- <th>S.N</th> -->
                    <th class="has-search-input">
                      <button class="dropdown-toggle search" data-toggle="dropdown">
                        <p class="title"><i class="mdi mdi-magnify"></i>Name</p>
                      </button>
                      <div class="dropdown-menu">
                        <input placeholder="Name" type="text" class="form-control" ng-model="settlementBankCtrl.tableParams.filter()['name']">
                      </div>
                      <p ng-if="settlementBankCtrl.tableParams.filter()['name'].length > 0" class="filter-text">Filter by: {{settlementBankCtrl.tableParams.filter()['name']}}</p>
                    </th>
                    <th class="has-search-input">
                      <button class="dropdown-toggle search" data-toggle="dropdown">
                        <p class="title"><i class="mdi mdi-magnify"></i>Username</p>
                      </button>
                      <div class="dropdown-menu">
                        <input placeholder="Username" type="text" class="form-control" ng-model="settlementBankCtrl.tableParams.filter()['username']">
                      </div>
                      <p ng-if="settlementBankCtrl.tableParams.filter()['username'].length > 0" class="filter-text">Filter by: {{settlementBankCtrl.tableParams.filter()['username']}}</p>
                    </th>
                    <th class="has-select">
                      <ui-select ng-model="settlementBankCtrl.tableParams.filter()['profile']">
                          <ui-select-match allow-clear="true" placeholder="Profile">{{$select.selected.name}}</ui-select-match>
                          <ui-select-choices repeat="profile.name as profile in settlementBankCtrl.allSettlementBankProfiles | filter: {name: $select.search}">
                              <span ng-bind="profile.name"></span>
                          </ui-select-choices>
                      </ui-select>
                    </th>
                  </tr>
                </thead>
                <tbody>

                  <tr ng-if="settlementBankCtrl.allSettlementBankPagination.length" ng-repeat="bank in settlementBankCtrl.allSettlementBankPagination" ng-click="settlementBankCtrl.detailModal(bank)">
                      <!-- <td style="text-align: left" class="text-center">
                          <span>{{$index+settlementBankCtrl.sno}}</span>
                      </td> -->
                      <td>{{bank.name}}</td>
                      <td>{{bank.username}}</td>
                      <td>{{bank.settlementBankProfileDto.name}}</td>
                  </tr>
                  <tr ng-if="settlementBankCtrl.paginationLoaded && settlementBankCtrl.allSettlementBankPagination.length === 0">
                    <td colspan="5">No records found.</td>
                  </tr>
                </tbody>
            </table>
          </div>

        <!-- /.box-body -->
    <!-- /.box -->
    </div>
  </div>

</section>
<!-- /.content -->