<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Let’s find your account </h3>
  <button class="btn btn-close" type="button" ng-click="fypCtrl.cancel()"><i class="mdi mdi-close"></i></button>
</div>

<div class="modal-body" id="modal-body" ng-show="fypCtrl.loaded">
  <form name="forgetPassword_form" class="form-horizontal">

    <div class="box-body">
      <div class="alert alert-danger" ng-show="fypCtrl.error">{{ fypCtrl.error_message }}</div>
      <div class="alert alert-success" ng-show="fypCtrl.success">{{ fypCtrl.success_message }}</div>

      <div class="box-section">
        <div class="box-section-content">

          <div class="col-md-12">
            <div class="form-group">
              <label for="username__" class="control-label has-value">Please enter your Username</label>
              <input type="text" class="form-control" id="username__" name="username__" placeholder="Username" ng-model="fypCtrl.username" ng-pattern="/^([a-zA-Z0-9_.@]){5,25}$/" autocomplete="off" maxlength="25" required>
              <div class ="required-validation">
                <i class="mdi mdi-check-circle validation-icon validation-success" ng-show="(forgetPassword_form.username__.$valid)"></i>
                <i class="mdi mdi-alert-circle validation-icon validation-alert" uib-tooltip="Username must be at least 5 character long alphanumerical and can contain (@, _ and .)." ng-show="(forgetPassword_form.username__.$dirty) && (forgetPassword_form.username__.$error.pattern)"></i>
              </div>
            </div>
          </div>
        </div>
      </div> 
      <div class="btn-block">
        <button class="btn btn-primary" type="button" ng-click="fypCtrl.ok()" ng-disabled="forgetPassword_form.$invalid">Send</button>
      </div>
    </div>  
  </form>
</div>

<div ng-show="!fypCtrl.loaded">
  <div class="loader-block">
    <div class="loader"></div>
    <p class="loader-text">Please wait...</p>
  </div>
</div>
