  <div class="alert alert-danger" ng-show="profileCtrl.error">{{ profileCtrl.error_message}}</div>
  <div class="alert alert-success" ng-show="profileCtrl.success">{{ profileCtrl.success_message}}</div>
  <!-- .box-body for spin-->
  <div class="box-body" ng-show="!profileCtrl.loaded">
    <div class="loader-block">
      <div class="loader"></div>
      <p class="loader-text">Please wait...</p>
    </div>
  </div>

    <div class="">
      <div class="col-md-6">
        <form name="changePasswordForm" ng-submit="profileCtrl.changePassword(changePasswordForm)">
          <div class="col-md-8">
            <div class="form-group">
              <label for="oldPassword" class="control-label required-field">Old Password</label>
              <input type="password" name="oldPassword" class="form-control" id="oldPassword" ng-model="profileCtrl.changePasswordValues.oldPassword" required />
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group has-required-validation">
              <label for="newPassword" class="control-label required-field">New Password</label>
              <input type="password" id="newPassword" name="newPassword" ng-model="profileCtrl.changePasswordValues.newPassword" required="" class="form-control ng-dirty ng-valid-parse ng-touched ng-not-empty ng-valid-required ng-valid ng-valid-pattern" ng-change="profileCtrl.validatePasswordPolicy(profileCtrl.changePasswordValues.newPassword)" value="">
              <div class ="required-validation">
                <span class="alert-icon alert-success" ng-show="(!profileCtrl.pwdValidation.boolean)&&(changePasswordForm.newPassword.$dirty)">
                  <i class="fa fa-check"></i>
                </span>
                <span class="alert-icon alert-warning" ng-show="(profileCtrl.pwdValidation.boolean)">
                  <i class="fa fa-info"></i>
                </span>
              </div>
              <div class ="field-validation-message" ng-show="profileCtrl.pwdValidation.boolean" ng-hide="!profileCtrl.pwdValidation.boolean">
                <span>{{profileCtrl.pwdValidation.message}}</span>
              </div>
            </div>
          </div>

          <div class="col-md-8">
            <div class="form-group">
              <label for="confirmPassword" class="control-label required-field">Confirm Password</label>
              <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" ng-model="profileCtrl.confirmPassword" required />
              <div class ="required-validation">
                <span class="alert-icon alert-success" ng-show="profileCtrl.confirmPassword == profileCtrl.changePasswordValues.newPassword && changePasswordForm.confirmPassword.$dirty && (profileCtrl.confirmPassword.length > 0 || profileCtrl.changePasswordValues.newPassword.length > 0)">
                  <i class="fa fa-check"></i>
                </span>
                <span class="alert-icon alert-danger" ng-show="profileCtrl.confirmPassword != profileCtrl.changePasswordValues.newPassword && changePasswordForm.confirmPassword.$dirty && (profileCtrl.confirmPassword.length > 0 || profileCtrl.changePasswordValues.newPassword.length > 0)">
                  <i class="fa fa-close"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary" ng-disabled="profileCtrl.formValidation(changePasswordForm)">Change Password</button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="box-body" ng-show="!profileCtrl.loaded">
          <div class="loader-block">
            <div class="loader"></div>
            <p class="loader-text">Please wait...</p>
          </div>
        </div>
        <div class="info-panel-block" ng-show="profileCtrl.loaded">
          <div class="info-panel-title">
            <h3>Smart Card Password Policies</h3>
          </div>
          <div class="info-panel-content">
            <div class="row">
              <div class="col-md-12">
                <p class="card-main-paragraph">Please follow these password policies to ensure your password to be strong.</p>
                <ul class="password-policy-block" ng-repeat="policies in profileCtrl.passwordPoliciesTexts">
                  <li>{{policies}}</li>
                </ul>     
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
    