<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Delete Commission Partner</h3>
  <button class="btn btn-close" type="button" ng-click="cpmCtrl.cancel()"><i class="mdi mdi-close"></i></button>
</div>

<div class="modal-body" id="modal-body">
  <form name="commissionPartner_form" class="form-horizontal">

  <div class="box-body">
    <div class="box-section">
      <div class="box-section-content">

        <div class="col-md-4 form-group">
          <label for="partner_name" class="control-label has-value">Partner Name</label>
          <div class="form-valu">{{cpmCtrl.partnerData.name}}</div>
        </div>

        <div class="col-md-4 form-group">
          <label for="partner_organization_name" class="control-label has-value">Partner Organization Name</label>
          <div class="form-valu">{{cpmCtrl.partnerData.companyName}}</div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label has-value">Delete Remarks</label>
            <input type="text" class="form-control" id="deleted_remarks" name="deleted_remarks" placeholder="Delete Remarks" ng-model="cpmCtrl.partner.deletedReason" required>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-block">
      <button class="btn btn-primary" ng-disabled="commissionPartner_form.$invalid" type="button" ng-click="cpmCtrl.ok()">Delete</button>
    </div>
  </div>  
</div>