<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Delete Member Bank</h3>
    <button class="btn btn-close" type="button" ng-click="mbCtrl.cancel()"><i class="mdi mdi-close"></i></button>
</div>

<div class="modal-body" id="modal-body">

  <form name="memberBank_form" class="form-horizontal">
      
    <div class="box-body">
      <div class="box-section">
        <div class="box-section-content">
          <div class="col-md-4 form-group">
              <label for="name" class="control-label has-value">Name</label>
              <div class="form-value">{{mbCtrl.memberBank.name}}</div>
          </div>

          <!-- textarea -->
          <div class="col-md-4 form-group">
              <label for="description" class="control-label has-value">Description</label>
              <div class="form-value">{{mbCtrl.memberBank.description}}</div>
          </div>

          <div class="col-md-12 form-group">
              <label for="delete_remarks" class="control-label has-value required-field">Delete Remarks</label>
              <input type="text" class="form-control" id="deleted_remarks" name="deleted_remarks" placeholder="Delete Remarks" ng-model="mbCtrl.memberBank.deletedRemarks" required>
          </div>
        </div>
      </div>
      <div class="btn-block">
          <button class="btn btn-primary" type="button" ng-click="mbCtrl.ok()" ng-disabled="memberBank_form.$invalid">Delete</button>
      </div>
    </div>  
  </form>
</div>