<section class="content-header">
  <h1>
    <i class="mdi mdi-wrench"></i>
    Application Meta Data
  </h1>
  <!-- <my-breadcrumb></my-breadcrumb> -->
</section>


<!-- Main content -->
<section class="content">

  <!-- Your Page Content Here -->
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" ng-show="metaCtrl.error">{{ metaCtrl.error_message }}</div>
        <div class="alert alert-success" ng-show="metaCtrl.success">{{ metaCtrl.success_message }}</div>
        

          <div class="box-body" ng-show="!metaCtrl.paginationLoaded" ng-hide="metaCtrl.paginationLoaded">
            <div class="loader-block">
              <div class="loader"></div>
              <p class="loader-text">Please wait...</p>
            </div>
          </div>


            <div class="table-minimal-2" ng-show="metaCtrl.paginationLoaded">      
              <table ng-table="metaCtrl.tableParams" class="table filter-table">
                <thead>
                  <tr>
                    <th class="has-search-input" style="width: 50%;">
                      <button class="dropdown-toggle search" data-toggle="dropdown">
                        <p class="title"><i class="mdi mdi-magnify"></i>Name</p>
                      </button>
                      <div class="dropdown-menu">
                        <input type="text" placeholder="Label Name" class="form-control" ng-model="metaCtrl.tableParams.filter()['lableName']">
                      </div>
                      <p class="filter-text">Filter by: {{adminCtrl.tableParams.filter()['name']}}</p>
                    </th>
                    <th style="width: 50%;">
                      Value
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-if="metaCtrl.allMetaDataPagination.length" ng-repeat="metaData in metaCtrl.allMetaDataPagination">
                   <!--  <td style="text-align: left" class="text-center">
                        <span>{{$index+metaCtrl.sno}}</span>
                    </td> -->
                    <td style="text-align: left">{{metaData.lableName}}</td>
                    <td> 

                      <a href="#" editable-text="metaData.fieldValue" e-required onbeforesave="metaCtrl.editFieldValue(metaData, $data)">{{ metaData.fieldValue || 'empty' }}</a>

                    </td>
                </tr>
                <tr ng-if="metaCtrl.paginationLoaded && metaCtrl.allMetaDataPagination.length === 0">
                  <td colspan="2">
                    <div class="box-main-icon no-records">
                       <div class="image-holder">
                        <img src="img/ic-no-record.png" alt="">                    
                       </div>
                       <span>No record(s) found</span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

</div>

</section>
<!-- /.content -->