<section class="content-header">
  <h1>
    <i class="mdi mdi-wrench"></i>
    Password Policy Setup
  </h1>
  <!-- <my-breadcrumb></my-breadcrumb> -->
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" ng-show="pwdCtrl.error">{{ pwdCtrl.error_message }}</div>
        <div class="alert alert-success" ng-show="pwdCtrl.success">{{ pwdCtrl.success_message }}</div>

        <div class="box-body" ng-show="!pwdCtrl.loaded">
          <div class="loader-block">
            <div class="loader"></div>
            <p class="loader-text">Please wait...</p>
          </div>
        </div>

        <div ng-show="pwdCtrl.loaded">
          <!-- form start -->
          <form ng-submit="pwdCtrl.updatePasswordPolicys(passwordPolicy_form)" name="passwordPolicy_form" class="form-horizontal">
            <div class="table-minimal-2">
              <table class="table report">
                  <thead>
                    <tr>
                      <th>Label</th>
                      <th>Value</th>
                      <th>Regular Expression Length Type</th>
                    </tr>
                  </thead>
                <tbody>
                  <tr data-ng-repeat="pwdPolicy in pwdCtrl.passwordPolicies">
                    <td>
                      <span for="$index" class="control-label required-field">{{pwdPolicy.label}}</span>
                    </td>
                    <td>
                      <input class="form-control" name="$index" type="text" ng-model="pwdPolicy.passwordPolicyValue" maxlength="2" only-numbers required="true"/>
                    </td>
                    <td>
                      <select class="form-control" ng-model="pwdPolicy.passwordRegularExpressionLengthType" ng-hide="!pwdPolicy.passwordRegularExpressionLengthType">
                         <option value="MAX">MAX</option>
                         <option value="MIN">MIN</option>
                         <option value="FIX">FIX</option>
                         <option value="NONE">NONE</option>
                      </select>
                    </td>
                   </tr>
                </tbody>     
                </table>
            </div>
            
              <div class="btn-block">
                <button type="submit" class="btn btn-primary" ng-disabled="passwordPolicy_form.$invalid">Update</button>
              </div>
          </form>
        </div>
    </div> 
  </div>
</section>