<section class="content-header">
  <h1>
    <i class="mdi mdi-account-box"></i>
    Create Settlement Bank Profile
  </h1>
  <!-- <my-breadcrumb></my-breadcrumb> -->
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" ng-show="settlementBankProfileCtrl.error">{{ settlementBankProfileCtrl.error_message }}</div>
      <div class="alert alert-success" ng-show="settlementBankProfileCtrl.success">{{ settlementBankProfileCtrl.success_message }}</div>

      <div class="box-body" ng-show="!settlementBankProfileCtrl.formData">
        <div class="loader-block">
          <div class="loader"></div>
          <p class="loader-text">Please wait...</p>
        </div>
      </div>

      <!-- form start -->
      <form ng-submit="settlementBankProfileCtrl.createProfile(settlementBankProfile_form)" name="settlementBankProfile_form" class="form-horizontal" ng-show="settlementBankProfileCtrl.formData">
        <div class="box">
          <div class="box-body">

            <div class="form-group">
              <label for="profile_name" class="col-sm-3 control-label required-field">Profile Name</label>
              <div class="col-md-5 has-required-validation">
                <input type="text" class="form-control" id="profile_name" name="profile_name" placeholder="Profile Name" ng-model="settlementBankProfileCtrl.profile.name" ng-pattern="/^([a-zA-Z0-9\s_.@]){5,}$/" autocomplete="off" maxlength="25" ng-change="settlementBankProfileCtrl.clearValidationError('name')" required>
                <div class ="required-validation">
                  <i class="mdi mdi-check-circle validation-icon validation-success" ng-show="(settlementBankProfile_form.profile_name.$valid) && !settlementBankProfileCtrl.validationError.name"></i>
                  <i class="mdi mdi-alert-circle validation-icon validation-alert" uib-tooltip="Profile Name must be at least 5 character long alphanumerical and can contain (@, _ and .)" ng-show="(settlementBankProfile_form.profile_name.$error.required && settlementBankProfile_form.profile_name.$dirty) || (settlementBankProfile_form.profile_name.$error.pattern)"></i>
                  <i class="mdi mdi-close-circle validation-icon validation-error" uib-tooltip="{{settlementBankProfileCtrl.validationError.name}}" ng-show="settlementBankProfileCtrl.validationError.name"></i>
                </div>
              </div>
            </div>
            
            <!-- textarea -->
            <div class="form-group">
              <label for="description" class="col-sm-3 control-label required-field">Description</label>

              <div class="col-md-5 has-required-validation">
                <textarea style="resize: none" class="form-control" rows="3" id="description" name="description" placeholder="Description ..." ng-model="settlementBankProfileCtrl.profile.description" maxlength="250" ng-change="settlementBankProfileCtrl.clearValidationError('description')" required></textarea>
                <div class ="required-validation">
                  <i class="mdi mdi-check-circle validation-icon validation-success" ng-show="(settlementBankProfile_form.description.$valid) && !settlementBankProfileCtrl.validationError.description"></i>
                  <i class="mdi mdi-alert-circle validation-icon validation-alert" uib-tooltip="Profile description is required" ng-show="(settlementBankProfile_form.description.$error.required && settlementBankProfile_form.description.$dirty)"></i>
                  <i class="mdi mdi-close-circle validation-icon validation-error" uib-tooltip="{{settlementBankProfileCtrl.validationError.description}}" ng-show="settlementBankProfileCtrl.validationError.description"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="role-block">
          <input style="display: none;" type="checkbox" ng-model="settlementBankProfileCtrl.roleChecked" required>
          <h4 for="" class="col-sm-12">Profile Roles</h4>
          <div class="row">
            <div class="col-md-12" ng-repeat="roles in settlementBankProfileCtrl.allSettlementBankRoles">
              <div class="role-block-row">
                <div class="col-md-4 checkbox role-block-parent">
                  <label>
                    <input type="checkbox" ng-value="roles.serviceGroupRoleMapId" ng-model="roles.isActive" ng-click="settlementBankProfileCtrl.parentRole(roles)" />
                    {{roles.uiGroupName}}
                  </label>
                </div>
                <div class="col-md-8 checkbox role-block-child">
                  <div class="col-md-4 role-block-child-element" ng-repeat="childRole in roles.childRoles">
                    <label>
                      <input type="checkbox" ng-value="childRole.serviceGroupRoleMapId" ng-model="childRole.isActive" ng-click="settlementBankProfileCtrl.childRole(childRole, roles)"/> 
                      {{childRole.name}}
                    </label>  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-block">
          <button type="submit" class="btn btn-primary" ng-disabled="settlementBankProfile_form.$invalid">Create</button>
          <input type="button" ng-click="settlementBankProfileCtrl.resetForm(settlementBankProfile_form)" class="btn btn-default" value="Reset" />
        </div>
      </form>
    </div>
  </div>        
</section>
<!-- /.content -->