<section class="content-header">
  <h1>
    <i class="mdi mdi-account-box"></i>
    Edit Admin
  </h1>

  <!-- <my-breadcrumb></my-breadcrumb> -->
</section>

<!-- Main content -->
<section class="content">

  <!-- Your Page Content Here -->
<div class="row">
    <div class="col-md-12">
         
          <div class="alert alert-danger" ng-show="adminCtrl.error">{{ adminCtrl.error_message }}</div>
          <div class="alert alert-success" ng-show="adminCtrl.success">{{ adminCtrl.success_message }}</div>

          <div class="box-body" ng-show="!adminCtrl.paginationLoaded" ng-hide="adminCtrl.paginationLoaded">
            <div class="loader-block">
              <div class="loader"></div>
              <p class="loader-text">Please wait...</p>
            </div>
          </div>

            <div class="table-minimal-2" ng-show="adminCtrl.paginationLoaded">      
              <table ng-table="adminCtrl.tableParams" class="table filter-table">
                <thead>
                  <tr>
                    <th class="has-search-input" width="300px;">
                      <button class="dropdown-toggle search" data-toggle="dropdown">
                        <p class="title"><i class="mdi mdi-magnify"></i>Name</p>
                      </button>
                      <div class="dropdown-menu">
                        <input placeholder="Name" type="text" class="form-control" ng-model="adminCtrl.tableParams.filter()['name']">
                      </div>
                      <p ng-if="adminCtrl.tableParams.filter()['name'].length > 0" class="filter-text">Filter by: {{adminCtrl.tableParams.filter()['name']}}</p>
                    </th>
                    <th class="has-search-input" width="200px;">
                      <button class="dropdown-toggle search" data-toggle="dropdown">
                        <p class="title"><i class="mdi mdi-magnify"></i>Username</p>
                      </button>
                      <div class="dropdown-menu">
                        <input placeholder="Username" type="text" class="form-control" ng-model="adminCtrl.tableParams.filter()['username']">
                      </div>
                      <p ng-if="adminCtrl.tableParams.filter()['username'].length > 0" class="filter-text">Filter by: {{adminCtrl.tableParams.filter()['username']}}</p>
                    </th>
                    <th class="has-select">
                      <!-- <span class="table-title">Status</span> -->
                      <!-- <input type="text" placeholder="Transaction Status" class="form-control" ng-model="transactionMangCtrl.tableParams.filter()['statusName']"> -->
                      <!-- Transaction Status -->
                      <ui-select ng-model="adminCtrl.tableParams.filter()['profile']">
                          <ui-select-match allow-clear="true" placeholder="Profile">{{$select.selected.name}}</ui-select-match>
                          <ui-select-choices repeat="profile.name as profile in adminCtrl.allProfiles | filter: {name: $select.search}">
                              <span ng-bind="profile.name"></span>
                          </ui-select-choices>
                      </ui-select>
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-if="adminCtrl.allAdminsPagination.length" ng-repeat="admin in adminCtrl.allAdminsPagination" ng-click="adminCtrl.detailModal(admin)">
                  <!-- <td style="text-align: left" class="text-center">
                      <span>{{$index+adminCtrl.sno}}</span>
                  </td> -->
                    <td>{{admin.name}}</td>
                    <td>{{admin.username}}</td>
                    <td>{{admin.adminProfile.name}}</td>
                    <td class="action-column">
                      <a uib-tooltip="Edit Admin" ng-click="adminCtrl.editAdmin(admin); $event.stopPropagation();">
                          <i class="mdi mdi-pen"></i>
                      </a>
                      <a uib-tooltip="Delete Admin" ng-click="adminCtrl.deleteModal(admin); $event.stopPropagation();">
                          <i class="mdi mdi-delete"></i>
                      </a>
                    </td>
                  </tr>
                  <tr ng-if="adminCtrl.paginationLoaded && adminCtrl.allAdminsPagination.length === 0">
                    <td colspan="5">
                      <div class="box-main-icon no-records">
                         <div class="image-holder">
                          <img src="img/ic-no-record.png" alt="">                    
                         </div>
                         <span>No record(s) found</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              
              </table>
            </div>

    </div>
</div>

</section>
<!-- /.content -->